<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /vue/vader
    RewriteRule ^/vue/vader/index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f 
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /vue/vader/index.html [L]
</IfModule>